@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.hidden {
    display: none;
}  

#choices-container {
    display: flex;
    flex-direction: row;
}

#game-container {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
}


.piece-img {
    width: 100%;
}

.colour-switcher {
    padding: 10px 10px;
    margin: 10px 0px;
    font-size: 1rem;
    border-style: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.black-btn {
    background-color: #333;
    color: white;
}

.white-btn {
    background-color: white;
    color: #111;
}

.colour-switcher:hover {
    cursor: pointer;
}


.bookshelf {
    display: flex;
    flex-direction: row;
}

.totempole {
    display: flex;
    flex-direction: column;
}

#piece-box {
    padding: 10px 24px;
}

#side-tray {
    background-color: #eee;
    padding: 24px;
    width: 200px;
    margin: 0px 10px;
}

.chess-tile {
    background-color: #e0c46e;
    margin: 0px;
    width: 100px;
    height: 100px;
}

.chess-tile.dark {
    background-color: #735e47;
}
