



#side-tray {
    background-color: #eee;
    margin: 1vw 1vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.deco-cbox {
    margin: 1vw 1vw;
    padding: 1vh 1vh;
    width: 20vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cbox-label {
    padding: 0 10px;
}