

#site-header {
    background-color: #333;
    height: 5.6vh;
    width: 100vw;
    justify-content: space-between;
}

.myicon {
    background-color: rgba(0, 0, 0, 0.3);
    height: 5vh;
    width: 5vh;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.myicon img {
    width: 100%;
}

.mytitle{
    padding: 0px 6px;
}


.myheaderbadge {
    padding: 0px 36px;
    color: white;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
}

.site-nav {
    color: white;
    padding: 0px 36px;
}

.category-tag {
    padding: 0px 10px;
    cursor: pointer;
    margin: 0px 10px;
}

.category-tag a {
    color: white;
    text-decoration: none;
}